@import 'src/app/shared/styles/styles';

.registration-form {
  width: 260px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input.error {
  border-color: #ff0000;
}

.text-danger {
  opacity: 0;
}

.text-danger.error {
  opacity: 1;
}
